/*
	Polices chargées :

	font-family: 'Roboto', sans-serif;
	font-family: 'Roboto Condensed', sans-serif;
	font-family: 'Roboto Slab', serif;

	variantes :
	Roboto Condensed: 400,700
	Roboto: 500
	Roboto Slab: 400,700
*/


@import url(./normalize.css);

/*----------  layout & types  ----------*/


body {
	background-color: #f7f7f7;
	font: 14px/24px 'Roboto', sans-serif;
	color:  #616161;
}

* {
	box-sizing: border-box;
}

/* la class wrapper contraint le contenu de la page en largeur
   et le centre dans le document avec les margin: auto à gauche et à droite */
.wrapper {
	width: 1170px;
	margin: 0px auto;
}


/*----------  grid  ----------*/



/* mise en page simple avec flex pour un colonnage */

/* le conteneur en display flex 
   donne implicitement l'aspect de cellule à ses enfants directs */
.container {
	display: flex;
}

/* pour que les colonnes soient distribuées
   dans l'espace disponible, on utilise flex */
.col {
	flex: 1;
}





/*----------  header  ----------*/

.main-header {
	background-color: #e5e5e5;
	border-bottom: 8px solid #dcdcdc; 
}

.main-header .wrapper {
	/* conteneur de colonnes pour le header */
	display: flex;
	/* les élement sont poussés au début et à la fin du conteneur */
	justify-content: space-between;
}


.main-header h1 {
	font-family: 'Roboto Condensed', sans-serif;
	color: #4e4e4e;
	font-size: 40px;
	font-weight: 700;
	/* line-height: 40px; */
	text-align: left;

	/* hauteur de mon header : 123px; */
	/* hauteur de mon titre : 40px; */
	/* je calcule les marges de mon titre pour le centrer dans la hauteur 
	   et obtenir une hauteur finale de 123px pour son conteneur; */

	/* 123-40 = 83
	83/2 = 41.5, j'arrondis à 40px et je modifie le line-height de +3px */
	margin: 40px 0px;
	line-height: 43px;
	text-transform: uppercase;
	letter-spacing: -0.08em;
}

.main-header ul {
	margin: 55px 0px 0px;
	padding: 0px;
	/* le ul sert de conteneur de colonnes avec la propriété display: flex */
	display: flex;
}

.main-header ul li {
	/* changement de l'aspect par défaut des li (on enlève le display: list-item;) */
	display: block;
}

.main-header ul li a {
	font: 700 16px/16px 'Roboto Condensed', sans-serif;
	color:  #4e4e4e;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	padding: 0px 10px;
}

.main-header ul li.current-menu-item a,
.main-header ul li.current_page_parent a,
.main-header ul li a:hover,
.main-header ul li a:focus,
.main-header ul li a:active {
	color: #1abb9c;
}





/*----------  main  ----------*/


/*----------  jumbotron  ----------*/

.jumbotron,
#section-icons .col,
#section-testimony blockquote {
	text-align: center;
}

.jumbotron {
	background: url(../img/header-img.jpg) no-repeat center center;
	background-size: cover;
	height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.jumbotron h2 {
	font-family: 'Roboto Slab', serif;
	color:  #f3f3f3;
	font-size: 40px;
	font-weight: 700;
	line-height: 35px;
}

.jumbotron h3 {
	font-family: 'Roboto Slab', serif;
	color:  #a8a8a8;
	font-size: 32px;
	font-weight: 700;
	line-height: 35px;
}

.jumbotron a, .jumbotron button {
	display: inline-block;
	border-radius: 3px;
	background-color:  #66a3c6;
	padding: 14px 26px 10px;
	border: none;
	border-bottom: 8px solid #3f8dbf;

	color: #FFF;
	font: 16px/16px 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
}



/*----------  section-icons  ----------*/

#section-icons {
	padding: 65px 0px;
}

#section-icons .icon {
	/* une classe générique d'icone pour tous les icônes ronds */
	display: inline-block;
	border-radius: 50%;
	width: 90px;
	height: 90px;
	background-color: #CCC;
}


#section-icons .icon.lamp {
	/*
		background-color: #9d9abf;
		background-image: url(../img/icon-ampoule.png);
		background-repeat: no-repeat;
		background-position: center center;
	*/
	background: #9d9abf url(../img/icon-ampoule.png) no-repeat center center;
}

#section-icons .icon.clock {
	background: #d2514b url(../img/icon-reveil.png) no-repeat center center;
}

#section-icons .icon.flask {
	background: #66a3c6 url(../img/icon-fiolle.png) no-repeat center center;
}

#section-icons .icon.ticket {
	background: #e8c04f url(../img/icon-ticket.png) no-repeat center center;
}

#section-icons h4 {
	font: 700 18px/24px 'Roboto Slab', serif;
	color: #4e4e4e;
	margin: 20px 0px 15px;
}

#section-icons p {
	margin-bottom: 40px;
}

#section-icons hr {
	border: 0px;
	border-bottom: 1px solid #CCC;
	margin-bottom: 0px;
}

/*----------  section-latest-work  ----------*/

#section-latest-posts,
#section-latest-work {
	padding: 0px 0px 40px;
}

#section-latest-posts h3,
#section-latest-work h3 {
	font: 700 22px/26px 'Roboto Condensed', sans-serif;
	color: #4e4e4e;
	text-transform: uppercase;
	letter-spacing: -0.06em;
}

#section-latest-posts h4,
#section-latest-work h4 {
	font: 700 18px/22px 'Roboto Slab', sans-serif;
	color: #4e4e4e;
	margin: 18px 0px 5px;
}

#section-latest-posts h5,
#section-latest-work h5 {
	font: 13px/16px 'Roboto Slab', sans-serif;
	color:  #a8a8a8;
	margin: 0px 0px 15px;
}


/*----------  section-testimony  ----------*/

#section-testimony {
	background-color: #EAEAEA;
	padding: 50px 0px;
}


#section-testimony blockquote {
	font: 20px/30px 'Roboto Slab', sans-serif;
	color:  #a1a1a1;
	padding: 0px;
}

#section-testimony blockquote:before {
	content: "";
	display: inline-block;
	width: 39px;
	height: 30px;
	background: url(../img/guillemet.png) no-repeat center center;
	margin: 0px 0px 20px;
}

#section-testimony blockquote p {
	margin: 0px;
}

/*----------  footer  ----------*/

.main-footer {
	background-color: #000;
	color:  #cacaca;
	padding: 30px 0px;
}

.main-footer .col {
	padding: 0px 20px 0px 0px;
}

.main-footer h4 {
	font: 700 18px/22px 'Roboto Condensed', sans-serif;
	color:  #6c6c6c;
	text-transform: uppercase;
}

.main-footer ul {
	margin: 0px;
	padding: 0px;
}

.main-footer ul li {
	padding-left: 20px;
	list-style-type: none;
	position: relative;
}

.main-footer ul li:before {
	content: "";
	display: block;
	width: 14px;
	height: 14px;
	margin-right: 6px;
	position: absolute;
	top: 5px;
	left: 0px;
}


.main-footer ul.twitter-list li:before {
	background: url(../img/twitter.png) no-repeat center center;
}


.main-footer ul li.plan:before {
	background: url(../img/map.png) no-repeat center center;
}
.main-footer ul li.tel:before {
	background: url(../img/phone.png) no-repeat center center;
}
.main-footer ul li.message:before {
	background: url(../img/mail.png) no-repeat center center;
}

.main-footer ul li a {
	color:  #cacaca;
	text-decoration: none;
}

.main-footer ul li a:hover {
	text-decoration: underline;
}


.main-footer .copyrights {
	margin: 30px 0px;
}

.main-footer .footer-copy-line {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.main-footer .footer-copy-line .menu {
	display: flex;
	margin: 30px 0px;
}

.main-footer .footer-copy-line .menu li {
	border-right: 1px solid white;
  padding-right: 20px;
}

.main-footer .footer-copy-line .menu li:last-of-type {
	border-right: none;
  padding-right: 0px;
}


/* -------------- post list ------------------------ */
.main-section {
	padding: 40px 15px;
}

.entry-content {
	display: flex;
	margin-bottom: 30px;
}

.entry-content .featured-image {
	width: 400px;
}

.entry-content .post-content {
	flex: 1; /* use all the space available */
}